* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

body {
    color: #444;
    letter-spacing: 1px;
}

h1,
h2 {
    font-weight: normal;
}

input {
    font-family: inherit;
}

.form-control {
    height: calc(1.75rem + 2px) !important;
}

.title {
    text-align: center;
}

.stock {
    background: #7360db;
    padding: 2px 10px;
    border-radius: 4px 16px;
    border-bottom: 2px solid #4d3bb4;
    font-weight: 100;
    color: #fff;
    width: fit-content;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.name {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
}

.status {}

.status-section {
    float: right;
    margin-right: 10px;
}

#status {
    color: #777;
    outline: none;
}

#wrapper {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    /*border-radius: 6px;*/
    /*box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);*/
    /*box-sizing: border-box;*/
    /*padding: 0 0 20px;*/
    /*overflow: hidden;*/
    /*border: 1px solid lightgray;*/
}

#page-banner {
    background: #eee;
    padding: 10px 0;

}

#page-banner h1,
#page-banner p {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#book-list,
#add-book,
#tabbed-content {
    margin: 30px;
}

#book-list ul,
#tabbed-content ul {
    list-style-type: none;
    padding: 0;
}

#book-list li {
    padding: 15px 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #eee;
    border-radius: 4px 4px 4px 35px;
    box-shadow: 3px 3px 5px #ddd;
    transition-duration: 1s;
    transition-property: box-shadow;
}

#book-list li:hover {
    /*border-color: #9361bf;*/
    /*box-shadow: 3px 3px 5px #b8b3d4;*/
    box-shadow: 3px 3px 5px #ac9dff;
    transition-duration: 1s;
    transition-property: box-shadow;
}

.delete {
    float: right;
    padding: 2px 7px;
    border-radius: 4px;
    cursor: pointer;
    color: #ddd;
    transition-duration: 1s;
    transition-property: color font-weight;
}

.delete:hover {
    color: #f45ca6;
    font-weight: 700;
    transition-duration: 1s;
    transition-property: color font-weight;
}

#add-book {
    width: 400px;
    margin: 0 auto;
}

#add-book input {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
    clear: both;
}

#add-book button {
    border: 1px solid #9361bf;
    background: #9361bf;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-book:after {
    content: '';
    display: block;
    clear: both;
}

#add-book #hide {
    width: 30px;
}

#add-book label {
    line-height: 52px;
}

#tabbed-content li {
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active {
    display: block;
}
