* {
    box-sizing: border-box;
    outline: none !important;
    font-family: 'Nunito', sans-serif;
}

body {
    color: #444;
    letter-spacing: 1px;
    height: 100vh;
    background-image: url('./client360-bg-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2 {
    font-weight: normal;
}

h6 {
    text-align: center;
    opacity: 0.25;
    text-transform: uppercase;
    font-size: 14px !important;
}

input {
    font-family: inherit;
}

.fa-phone,
.fa-envelope,
.fa-location-arrow,
.fa-user-tie {
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    background-color: #7360db;
    font-size: 10px;
    box-shadow: 0px 2px 5px #ac9dff;
}

.card {
    border: none;
}

.card-body {
    box-shadow: inset 0px 0px 2px #e6e4ee;
}

.card-body p {
    display: inline-block;
    font-size: 12px;
    color: #777;
    line-height: 15px;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.form-control {
    height: calc(1.75rem + 2px) !important;
}

.title {
    text-align: center;
}

.stock:hover {

    box-shadow: none;
    transition-duration: .5s;
    transition-property: box-shadow;
}

.stock {
    background: #7360db;
    padding: 2px 10px;
    padding: 6px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    width: fit-content;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px #ac9dff;
    transition-duration: .5s;
    transition-property: box-shadow;
}

.stockPrice {
    margin-left: 50px;
    color: #fff !important;
    font-weight: 700;
    background: #45d372;
    padding: 4px 8px;
    border-radius: 4px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}

.firstName,
.lastName,
.stockPrice {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
    font-size: 12px;
}

.consultant {
    padding: 7px 6px;
    border-radius: 30px;
    color: #7360db;
    width: fit-content;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0 !important;
    font-size: 11px;
    box-shadow: 0px 2px 5px #ddd7ff;
    transition-duration: .5s;
    transition-property: box-shadow;
    float: left;
    min-width: 30px;
    min-height: 30px;
    transition-duration: .5s;
    transition-property: box-shadow;
}

.consultant:hover {
    box-shadow: none;
    transition-duration: .5s;
    transition-property: box-shadow;
}

.consultant p {
    margin-bottom: 0;
}

.status-section {
    float: right;
    margin-right: 10px;
}

#status {
    color: #777;
    outline: none;
}

#container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

#client-list,
#add-client,
#tabbed-content {
    margin: 30px;
}

#client-list ul,
#tabbed-content ul {
    list-style-type: none;
    padding: 0;
}

#client-list ul li:last-child {
    border-bottom: none;
}

#client-list ul {
    min-width: 500px;
    background: #fffbfb;
    padding: 20px 20px 0;
    margin: 20px 10px;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #d3d1dd;
    transition-duration: 1s;
    transition-property: box-shadow;
}



#client-list li {
    margin-bottom: 10px;
    border-bottom: 2px solid #f5f5f5;

}

#client-list li:hover {}

#client-list h6 {
    text-align: center;
}

.form-group {
    margin-bottom: 0 !important;
}

.status-section {
    float: right;
    margin-right: 0;
}

.delete {
    color: #f45c66;
    float: right;
    padding: 0px 8px;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 20px;
    text-transform: lowercase;
    opacity: 1;
    transition-duration: .5s;
    transition-property: opacity;
    box-shadow: 0px 2px 10px #eee;
}

.delete:hover {
    opacity: 0.5;
    transition-duration: .5s;
    transition-property: opacity;
}

.seeMore {
    cursor: pointer;
    height: 40px;
    line-height: 40px !important;
    margin: 0 10px;
    color: #ddd;
    float: right;
}

#clientSearch {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-bottom: 4px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ccc;
    background: transparent;
}

#add-client {
    width: 90%;
    margin: 0 auto !important;
    background: #fffbfb;
    /* padding: 15px 20px; */
    padding: 20px 20px 0;
    /* border-left: 5px solid #ddd; */
    margin: 20px 10px;
    /* border: 1px solid #ddd; */
    /* border-bottom: 3px solid #eee; */
    border-bottom: 1px solid #eee;
    /* border-radius: 4px 4px 4px 35px; */
    border-radius: 10px;
    /* box-shadow: 3px 3px 20px #ddd; */
    box-shadow: 3px 3px 20px #d3d1dd;
    transition-duration: 1s;
    transition-property: box-shadow;
}

#add-client input {
    margin: 10px 0 20px;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    box-sizing: border-box;
    color: #919191;
    font-weight: 100;
    float: left;
    display: inline-block;
    margin-left: 10px;
    background-color: #fffbfb;
    padding-left: 10px;
    width: fit-content;
}

#add-client input::placeholder {
    color: #ccc;
    opacity: 0.5;
}

#add-client button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    float: right;
    background: #7360db;
    padding: 5px 10px;
    margin-top: 4px;
    border-radius: 30px;
    font-weight: 100;
    color: #fff;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px #ac9dff;
    transition-duration: .5s;
    transition-property: box-shadow;
}

#selectConsultant {
    height: 30px;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    float: left;
    margin: 5px 0 0;
    color: #9361C3;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    padding: 0;
}

#selectConsultant>label {
    line-height: 2 !important;
}

#selectConsultant p {
    margin-bottom: 0;
}

#clientSearch::placeholder {
    text-align: left;
    filter: grayscale(100%);
    opacity: 0.25;
}

#add-client button:hover {
    box-shadow: none;
    transition-duration: .5s;
    transition-property: box-shadow;
}

#add-client:after {
    content: '';
    display: block;
    clear: both;
}

#add-client #hide {
    width: 30px;
}

#add-client label {
    line-height: 52px;
}

#addClientTicker {
    width: 75px;
}



#tabbed-content li {
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active {
    display: block;
}

.btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    float: right;
    padding-top: 8px;
    margin-right: 8px;
}

.btn-group .btn {
    padding: 2px 10px;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    font-size: 12px;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #6f5de3 !important;
    border: none !important;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none !important;
}

.timeStamp {
    opacity: 0.5;
}

.timeStamp p {
    margin-bottom: 0;
    font-style: italic;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575px) {
    .firstName {
        display: none;
    }
    .btn:not(.active) {
        display: none;
    }
    .btn(.active) {
        border-radius: 4px !important;
    }
    #clientSearch {
        width: 250px;
    }
    #clientSearch::placeholder {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

    /* Hide watch/buy/sell buttons on mobile*/
    .btn-group {
        display: none !important;
    }

}
